@charset "UTF-8";


@import "./common.scss";

@include category_bg(member);
	
#corporate {
	
	.profile dl {
	
		dt {
			margin-bottom:  3px;
			padding: 0 40px;
			min-width: 150px;
			height: 60px;
			background: $clr-gray;
			text-align: center;
			line-height: 60px;
		}
		dd {
			margin-bottom:  3px;
			padding-left: 20px;
			line-height: 60px;
		}
		
	}

}

#access {
	
	.detail {
		padding-top: 20px; 
	
		.exterior {
			margin: 0;
			padding: 0;
			
			img {
				width:  100%;
				height: 100%;
			}
		}
	
	}
	
	.info {
		padding-right: 0;
		
		dl {
			margin-bottom: 5em;
		}
		
		dl dt {
			margin-bottom: 1.3em;
			height: 32px;
			background-color: $clr-gray;
			position: relative;
			
			&.map:before {
			content: "\f041";
			font-family: FontAwesome;
			font-size: 1.5em;
			color: $clr-gray02;
			margin: 0 0.3em;
			}
			
			&.train:before {
			content: "\f239";
			font-family: FontAwesome;
			font-size: 1.5em;
			color: $clr-gray02;
			margin: 0 0.3em;
			}
			
		}
		
		dl dd {
			padding-top: 5px;
			padding-left: 1.3em;
			}
			
		}
		
	}
	

