@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif; }

.font-en {
  font-family: "游ゴシック体", "Yu Gothic", "Osaka", "メイリオ", "Meiryo", sans-serif; }

.row {
  margin: 0; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

.navbar {
  margin-bottom: 0;
  padding-right: 15px; }

.category_ttl {
  width: 100%;
  height: 300px;
  position: relative;
  background: rgba(196, 56, 50, 0.5); }
  .category_ttl h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    font-family: "游ゴシック体", "Yu Gothic", "Osaka", "メイリオ", "Meiryo", sans-serif;
    color: #fff; }

.heading {
  padding-bottom: 14px; }

.heading h1 {
  font-size: 30px;
  color: #333232;
  border-bottom: 2px solid #c43832;
  line-height: 40px; }

.heading p.lead {
  padding-top: 5px;
  font-size: 15px;
  color: #262625; }

.content {
  margin-bottom: 50px;
  padding-top: 40px; }

#footer {
  background: #eee; }

span.bold {
  font-weight: bold; }

.btn-red {
  padding: 5px 80px;
  border-radius: 40px;
  background: #c43832; }
  .btn-red:hover {
    background: #db5a54; }

a.btn-r {
  font-size: 15px;
  color: #fff;
  text-decoration: none; }
  a.btn-r:after {
    display: inline-block;
    width: 50%;
    height: 50%;
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #fff; }

a.btn-d:after {
  display: inline-block;
  width: 50%;
  height: 50%;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 1.5em;
  color: #fff; }

.btn-map {
  padding: 2px 20px;
  background: #c43832; }
  .btn-map a {
    font-size: 0.7em;
    color: #fff;
    text-decoration: none; }
    .btn-map a:after {
      display: inline-block;
      width: 50%;
      height: 50%;
      content: "\f105";
      font-family: FontAwesome;
      color: #fff; }

#contact {
  padding: 30px 0 30px;
  background: url(../img/contact.jpg);
  background-size: cover; }
  #contact .container {
    padding: 30px 0 50px;
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); }
    #contact .container h1 {
      font-size: 2em;
      color: #c43832; }
    #contact .container p {
      padding: 30px 0 20px;
      color: #c43832; }

#footer .footer-nav {
  padding: 50px; }
  #footer .footer-nav .site-info h4 {
    color: #c43832; }
    #footer .footer-nav .site-info h4 i {
      margin-left: 0.3em; }
  #footer .footer-nav .site-info ul {
    padding: 10px 0 10px; }
    #footer .footer-nav .site-info ul li {
      list-style: none; }
      #footer .footer-nav .site-info ul li a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #c43832; }
        #footer .footer-nav .site-info ul li a:hover {
          opacity: 0.4; }

.copyright {
  padding: 6px 0;
  background: #00aa7e; }
  .copyright small {
    display: block;
    text-align: center;
    color: #fff; }

.pagetop {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right: 30px solid #807d7d;
  border-bottom: 30px solid #807d7d;
  opacity: 0.9; }
  .pagetop a {
    font-size: 1.5em;
    display: block; }
    .pagetop a i {
      position: absolute;
      top: 7px;
      left: 20%;
      color: #fff; }

.sns-facebook {
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #32579a;
  position: relative; }
  .sns-facebook a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    line-height: 30px; }

.sns-twitter {
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #6EA6DA;
  position: relative; }
  .sns-twitter a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    line-height: 30px; }

.sns-github {
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #888;
  position: relative; }
  .sns-github a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    line-height: 30px; }

.category {
  background: url(../img/category_works.jpg); }

#projects {
  padding: 3em 0 5em;
  background: #eee; }
  #projects h1 {
    text-align: center;
    font-size: 2em;
    color: #c43832; }
  #projects .project {
    margin-top: 1em;
    border: 3px solid #c43832;
    padding: 2em; }
    #projects .project .thumb {
      text-align: center;
      padding: 1.5em;
      background: #fff; }
      #projects .project .thumb h2 {
        color: #c43832;
        font-size: 1.2em; }
    #projects .project p {
      padding-top: 1em;
      color: #c43832; }

#why {
  padding: 4em 0 8em;
  background: #c43832; }
  #why .heading h1 {
    text-align: center;
    font-size: 2em;
    color: #c43832;
    color: #fff; }
  #why .heading p {
    text-align: center;
    color: #fff; }
  #why .reason {
    margin-bottom: 0.5em; }
    #why .reason .thumb {
      width: 100px;
      height: 100px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      position: relative; }
      #why .reason .thumb img {
        display: block;
        position: absolute;
        top: 25%;
        left: 25%; }
