#footer
  #contact
    .container
      h1 CONTACT
      p Web製作にまつわるお悩み、ご相談はお気軽にchatboxまで。
      .btn.btn-red
        a.btn-r(href='') お問い合わせ
  .footer-nav
    .container
      .row
        .company-info.col-sm-5
          h4 株式会社 chatbox
          p
            | 541-0048
            br
            | 大阪市中央区瓦町3-2-10 エスティメゾン瓦町 805
          .btn.btn-red.btn-map
            a.btn-r(href='') MAP
        .site-info.col-sm-7.row
          .sitemap.col-sm-6
            h4
              | SITEMAP
              i.fa.fa-sitemap.fa-1
            ul
              li
                a(href='#') 事業案内
              li
                a(href='#') メンバー
              li
                a(href='#') 会社概要
              li
                a(href='#') お問い合わせ
          .links.col-sm-6
            h4
              | LINKS
              i.fa.fa-external-link.fa-1
            ul
              li
                a(href='#') EventSpace.Aim
  .sns-facebook
    a(href='')
      i.fa.fa-facebook
  .copyright
    small
      | Copyright © chatbox.inc All Rights Reserved.
      small
  .pagetop
    a(href='#')
      i.fa.fa-arrow-up.fa-2
// footer
