#header
  nav.navbar.navbar-default.navbar-fixed-top
    .nav-header
      a(href='')
        img.navbar-brand(src='http://placehold.it/40x40/ccc/fff/&text=hoge', alt='chatbox')
    ul.nav.navbar-nav.navbar-right
      li
        a(href='works.html') WORKS
      li
        a(href='member.html') MEMBER
      li.active
        a(href='about.html') ABOUT
      li
        a(href='contact.html') CONTACT
  .category
    .category_ttl
      h1 ABOUT
// header
