extends ./_layout.jade

block contents
    #main
      .container
        .contents
          #headerArea.content
            h1 chatboxロゴ
            h2 web制作
            p
              | chatboxでは一緒に働くスタッフ、フリーランスメンバーを募集しています。
              br
              | 						学生、未経験者でも歓迎。Web制作にまつわる基礎技術から、スタッフが丁寧にサポートします。
          // headerArea
          #contentsArea.content
            .row
              .col-sm-4
                .thumb
                  img(src='http://placehold.it/40x40/ccc/fff/&text=hoge', alt='')
                p
                  | chatboxでは一緒に働くスタッフ、フリーランスメンバーを募集しています。
                  br
                  | 							学生、未経験者でも歓迎。Web制作にまつわる基礎技術から、スタッフが丁寧にサポートします。
              .col-sm-4
                .thumb
                  img(src='http://placehold.it/40x40/ccc/fff/&text=hoge', alt='')
                p
                  | chatboxでは一緒に働くスタッフ、フリーランスメンバーを募集しています。
                  br
                  | 							学生、未経験者でも歓迎。Web制作にまつわる基礎技術から、スタッフが丁寧にサポートします。
              .col-sm-4
                .thumb
                  img(src='http://placehold.it/40x40/ccc/fff/&text=hoge', alt='')
                p
                  | chatboxでは一緒に働くスタッフ、フリーランスメンバーを募集しています。
                  br
                  | 							学生、未経験者でも歓迎。Web制作にまつわる基礎技術から、スタッフが丁寧にサポートします。
          // contentsArea
          #cleate
      // create
      #school
    // school
    #event
